//- <!DOCTYPE html>
//- <html lang="en">
//- <head>
//-     <meta charset="UTF-8">
//-     <meta http-equiv="X-UA-Compatible" content="IE=edge">
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0">
//-      <!-- using plane html in pug -->
//- <title>
//- | #{title}
//- </title>
//- style
//-    include ../costomstatic/style.css
//- </head>
//- <body>
//- <h1>this is heading</h1>
//-  <!-- this is plane html using pug  -->
//-  <p>| #{content} </p>
//- </body>
//- </html> 



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
style
   include ../costomstatic/style.css
</head>
<body>
    <nav class="container">
        <ul>
            <li><a href="/costomstatic/index.html">HOme</a></li>
            <li><a href="/costomstatic/about.html">About</a></li>
            <li><a href="/costomstatic/contact.html">Contact</a></li>
            <li><a href="/costomstatic/services.html">Services</a></li>
        </ul>
    </nav>
    <p>this is form</p>
    <form action="/" method="post" id="contact">
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <input type="text" name="age" id="age" placeholder="Enter your age">
        <input type="text" name="gender" id="gender" placeholder="Enter your gender">
        <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your address"></textarea>
        <textarea name="more" id="more" cols="30" rows="10" placeholder="More about you.."></textarea>
        <button class="btn">Submit</button>
    </form>
</body>
</html> 