doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar 
       ul  
          li #[a(href='/') HOME ]
          li #[a(href='/') ABOUT]
          li #[a(href='/') SERVICES]
          li #[a(href='/') CLASS INFO]
          li #[a(href='/') CONTACT US ]
    section#introsection 
        div WELCOME TO PATIL'S DANCE ACADEMY 
        div DANCE LIKE NO ONE IS WATCHING 
    section#missionsection 
        div OUR MISSION    
    section#sponsorsection   
        h3|our sponsors  
    footer#footer 
        |our footer is here              
    
    
    
    
    
    script
      include ../static/index.js
      